annotated-doc==0.0.4
anyio==4.13.0
av==17.1.0
certifi==2026.5.20
click==8.4.1
ctranslate2==4.8.0
faster-whisper==1.2.1
filelock==3.29.4
flatbuffers==25.12.19
fsspec==2026.4.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.19.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.6
onnxruntime==1.26.0
packaging==26.2
protobuf==7.35.1
Pygments==2.20.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
PyYAML==6.0.3
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
tokenizers==0.23.1
tqdm==4.68.2
typer==0.25.1
typing_extensions==4.15.0
